@import "../../styles.scss";

@media (min-width: 1200px)
{
    .container {
      max-width: 1440px;
  }
}


.card-icon-indicator {
  width: 45px;
  height: 45px;
  font-size: 20px;
  border-radius: 50px;
  text-align: center;
  line-height: 2.2;
}
.survey-head {
  color: #a7afb7;
  font-weight: $font-weight-medium;
}
.survey-value {
  font-size: 22px;
}
.table {
  tbody {
    img {
      border-radius: 4px;
    }
    .availability-status {
      display: inline-block;
      width: 8px;
      height: 8px;
      margin-right: 2px;
      border-radius: 100%;
    }
  }
}
.survey-img {
  padding-top: 13px;
  height: 63px;
  width: 80px;
  border-radius: 4px;
}
.list-wrapper {
  .list-time {
    display: block;
    font-size: 12px;
    color: $text-muted;
  }
}
.form-check {
  .form-check-label {
      font-weight: $font-weight-medium;
    .input-helper {
      &:after {
        background: #7057d2;
      }
    }
    input[type="checkbox"] {
      + .input-helper {
        &:before {
          border: 2px solid #7057d2;
        }
      }
    }
  }
  .list-time {
    padding-left: 30px;
   }
}
.customer-img {
  width: 30px;
  height: 30px;
  border-radius: 4px;
}
.img-decoration {
  width: 42px;
  height: 42px;
  border-radius: 4px;
}
.card-calender {
  background-image: url("../../assets/images/dashboard/Group4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
  h1 {
    font-size: 22px;
  }
  h5 {
    font-weight: 400;
    padding-bottom: 6px;
  }
  h3 {
    font-size: 40px;
  }
  ul {
    li {
      list-style: none;
      padding: 5px 23px 20px 23px;
      margin: 0 3px;
      &.active {
        border-radius: 3px;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #ffffff1f);
      }
    }
  }
}
.font-12 {
  font-size: 12px;
}
.card-invoice {
  span {
    font-size: 12px;
    color: $text-muted;
  }
  img {
    height: 30px;
    width: 30px;
    border-radius: 4px;
    @media (max-width: 560px) {
      margin-top: 6px;
    }
  }
  .reload-outer {
    width: 20px;
    height: 20px;
    padding-top: 5px;
    font-size: 10px;
    border-radius: 50px;
    color: $white;
    text-align: center;
  }
  .list-card {
    padding: 1px 0 1px 20px;
    border-radius: 3px;
    box-shadow: 0 2px 10px 0 rgba(197, 191, 191, 0.5);
    margin-bottom: 12px;
  }
}
.dropdown {
  .dropdown-toggle {
    &::before {
      display: none;
    }
  }
}
